<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HotkeyPrSc" value="F11"/>
    <add key="WorkDirName" value=""/>
    <add key="DWRCC" value="C:\Program Files\DameWare Remote Support\DWRCC.exe"/>
    <add key="Screen" value=",,,"/>
    <add key="Archives" value=""/>
    
    <!--<add key="Screen" value="1280,,,"/>-->
    
  </appSettings>

  <connectionStrings>
    <add name="Constr" connectionString="Data Source=localhost; Integrated Security=SSPI;Initial Catalog=Devices"/>    
  </connectionStrings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
